body {
    text-align: center;
    font-family: Arial, sans-serif;
}
.grid-container {
    overflow: hidden;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
}
.grid {
    display: grid;
    grid-template-columns: repeat(100, 5px);
    grid-template-rows: repeat(100, 5px);
    gap: 1px;
    position: absolute;
    transform-origin: top left;
}
.pixel {
    width: 5px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid #00000033;
}
.controls {
    margin-bottom: 10px;
}
.textrandom {
    font-family: monospace;
    font-size: 20px;
    text-align: left;
}
.footer {
    background-color: black;
    color: white;
}
.section {
background-color: blueviolet;
color: white;
}